#topo { 
    background-color: blue;
}
#menu {
    background-color: blueviolet;
}
.destaques, .produtos, .sobre, .contato { 
    background-color: coral;
}
#rodape { 
    background-color: darkkhaki;
}



/***************NAV**************************************/